body {
  margin: 0;
  font-family: "Archer SSm A", "Archer SSm B", serif;
  font-style: normal;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4 {
  font-family: "Knockout 52 A", "Knockout 52 B", sans-serif;
  font-style: normal;
  font-weight: 400;
}
